
.login_container{width: 100%;max-width: 1024px;margin: 0 auto;margin-top:80px;} 
.login_container .login_form{width:300px;float:left;border-right:3px solid #bdbdbd;margin: 0 auto;text-align: center;height:300px;}
.login_container .login_form > div:first-child{font-weight: bold;font-size:20px;}
.login_container .login_form .input_box{width:250px;margin: 0 auto;margin-top:15px}
.login_container .login_form .input_box .idAndPass{height:85px}
.login_container .login_form input[type=text],.login_container .login_form input[type=password]{width:97%;height:30px;float:left;margin: 1.5%;border: 2px solid #bdbdbd;padding:0 7px;box-sizing: border-box}
.login_container .login_form .input_box .small_area{font-size:8px;height:20px; color:#848484;margin:5px}
.login_container .login_form .input_box .small_area #idSaveCheck{position: relative;top: -2px}
.login_container .login_form .input_box .small_area a{text-decoration: none; color:#848484;font-size:10px}
.login_container .login_form .input_box .small_area label{position: relative;top:-5px; font-size:10px}
.login_container .login_form .input_box .submit_btn{height:60px;}
.login_container .login_form .input_box .submit_btn input[type=submit]{width:97%;height:50px;float:left;margin: 1.5%;background: #218261;color:#ffffff;font-weight:bold;font-size:15px;border:0; outline:0}
.login_container .login_form .input_box .social_btn{display: block;width:97%;height:40px;margin-top: 10px;padding-top:5px;margin: 1.5%;}
.login_container .login_form .input_box .social_btn img{width:40px;float:left;margin-left:5px}
.login_container .login_form .input_box .social_btn div{width:195px;float:left;color:#ffffff;border-radius: 10px;font-size:14px;height: 28px;padding-top: 10px}
.login_container .login_form .input_box .goto_signup{font-size:11px;padding-top:5px;color:#848484}
.login_container .login_form .input_box .goto_signup strong{color:#218261}

.login_container .ad_banner{width:650px;float:left;background: #bdbdbd;height:300px;margin-left:40px;text-align:center;padding-top:0px;cursor: pointer }

@media (max-width:1000px)
{
    .login_container .login_form{width:100%;border-right:0}
    .login_container .ad_banner{width:100%;;margin-left:0px;margin-top:80px;display: none}
}

@keyframes colored {
    0% {border: 2px solid #bdbdbd}
    100% {border: 2px solid #218261}
  }