.password_reset_container{width:85%;height:300px;max-width: 800px; margin: 0 auto;margin-top:100px;text-align: center;font-size: 15px}
.password_reset_container .password_reset{width:90%; text-align: center;margin: 0 auto}
.password_reset_container .password_reset .password_reset_input{width:100%;max-width:550px;margin: 0 auto;margin-top:30px;border-radius: 10px;border: 1px solid #218261;height: 50px}
.password_reset_container .password_reset .password_reset_input label{width:20%;height:37px;float: left;padding-top:13px;border-right:1px solid #218261}
.password_reset_container .password_reset .password_reset_input #id_email{width: 70%;height:48px;float: left;border: 0;padding:0 7px;box-sizing: border-box}
.password_reset_container .password_reset  input[type=submit]{position: relative;top:161px; width:120px;height:50px; background-color: #218261;color:#ffffff;border: 0;font-weight: bold;border-radius: 3px;font-size:15px}

.password_reset_done_container{width:85%;height:300px;max-width: 800px; margin: 0 auto;margin-top:100px;text-align: center;font-size: 15px}
.password_reset_done_container > div{position: relative;top:162px;width:120px;padding-top: 15px;height:35px; background-color: #218261;color:#ffffff;border: 0;font-weight: bold;border-radius: 3px;margin: 0 auto}
.password_reset_done_container > div > a{color: #ffffff}

.password_reset_from_key_container{width:85%;height:300px;max-width: 800px; margin: 0 auto;margin-top:100px;text-align: center;font-size: 15px}
.password_reset_from_key_container input[type=submit]{position: relative;top:79px; width:120px;height:50px; background-color: #218261;color:#ffffff;border: 0;font-weight: bold;border-radius: 3px;font-size:15px}
.password_reset_from_key_container p{width:100%;max-width:550px;margin: 0 auto;margin-top:30px;border-radius: 10px;border: 1px solid #218261;height: 50px}
.password_reset_from_key_container p > label{width:35%;height:34px;float: left;padding-top:17px;border-right:1px solid #218261;font-size:10px}
.password_reset_from_key_container p > input{width: 55%;height:48px;float: left;border: 0;padding:0 7px;box-sizing: border-box}

@media (min-width:700px)
{
    .password_reset_container{border-radius: 20px;border: 1px solid #218261;padding: 50px;font-size:20px}
    .password_reset_done_container{border-radius: 20px;border: 1px solid #218261;padding: 50px;font-size:20px}
    .password_reset_done_container > div{padding-top: 15px;font-size:15px;top:150px;}
    .password_reset_from_key_container{border-radius: 20px;border: 1px solid #218261;padding: 50px;font-size:20px}
    .password_reset_from_key_container p > label{width:20%;font-size:12px}
    .password_reset_from_key_container p > input{width: 70%;}
}

