{% extends 'frame.html' %}
{% load i18n %}


{% block content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset_container" autocomplete="off">
        {% csrf_token %}
        <div class="password_reset">
            <div>가입하신 이메일을 적어주세요</div>
            <div class="password_reset_input">
                <label for="id_email">이메일</label> 
                {% if form.errors %}
                <script>
                    alert('가입되지 않은 이메일입니다.')
                </script>
                <input type="email" name="email" placeholder="가입되지 않은 이메일입니다." size="30" id="id_email">
                {% else %}
                <input type="email" name="email" size="30" id="id_email">
                {% endif %}
                
            </div>
            <input type="submit" value="{% trans 'Reset My Password' %}">
        </div>
        
    </form>
{% endblock %}