{% extends 'frame.html' %}
{% load i18n %}


{% block content %}
<div class="password_reset_from_key_container">
    <div>{% if token_fail %}잘못된 토큰입니다.{% else %}비밀번호 변경{% endif %}</div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p style="border:0">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% if form.errors %}
                    <script>
                        alert('비밀번호를 다시 확인해주세요')
                    </script>
                {% endif %}
                <p><label for="id_password1">새 비밀번호</label> <input type="password" name="password1" placeholder="새 비밀번호" required="" id="id_password1"></p>
                <p><label for="id_password2">새 비밀번호 (확인)</label> <input type="password" name="password2" placeholder="새 비밀번호 (확인)" required="" id="id_password2"></p>
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}