{% extends 'baangbang/base.html' %}

{% block title %}Signup{% endblock %}
{% block content %}
<h2>Sign up</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        
        <label for="id_username">아이디</label>
        {{form.username}}
        {% if form.username.errors%}
            <div>중복된 아이디입니다.</div>
        {%else%}
        <br>
        {%endif%}
        
        <label for="id_password1">비밀번호</label>
        <input type="password" name="password1" id="id_password1" placeholder="8자 이상">
        <br>
        <label for="id_password2">비밀번호 확인</label>
        <input type="password" name="password2" id="id_password2">
        <br>
        <label for="id_name">이름</label>
        {{form.name}}
        {{ form.name.errors }}
        <br>
        <label for="id_email">이메일</label>
        {{form.email}}
        {{ form.email.errors }}
        <br>
        <label for="id_gender">성별:</label>
        {{form.gender}}
        {{ form.gender.errors }}
        <br>
        <label for="id_job">방방을 접한 경로:</label>
        {{form.job}}
        {{ form.job.errors }}
        <br>
        <div id="submitDiv" onclick="check_password()" style="border:1px solid;cursor:pointer;background-color: #bdbdbd;text-align: center">가입</div>
        <button type="submit" id="submitBtn" style="display: none">등록</button>
    </form>
    <script>
        function check_password()
        {
            if(document.getElementById('id_password2').value === document.getElementById('id_password1').value && document.getElementById('id_password1').value.length > 7)
            {
                document.getElementById("submitBtn").click();
            }
            else if(document.getElementById('id_password1').value.length < 8  || document.getElementById('id_password2').value.length < 8)
            {
                alert('비밀번호를 8자이상 적어주세요')                
            }
            else
            {
                alert('비밀번호를 다시 확인해주세요')
                document.getElementById("id_password1").focus();
            }
        }
    </script>
{% endblock %}