{% load static %}
<html>
    <head>
        <title>김성현's 블로그</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/import.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c32c1763e65921610b0b14021a17138f&libraries=services"></script>
        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="margin: 0">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/blog" id="headerImg"><img src="../../static/img/main_logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/info"><span class="glyphicon glyphicon-user"></span> 내 정보 - {{ user.username }}</a></li>
                            <li><a href="{% url 'email_to_admin' %}"><span class="glyphicon glyphicon-envelope"></span> 문의사항</a></li>
		                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
                            <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> 글쓰기</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
                		    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>