{% load static %}
<html>
    <head>
        <title>Django 방방!</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" type="text/css" href="../../static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/slick/slick-theme.css"/>
        <link rel="stylesheet" href="{% static 'css/import.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script></script>
        <script type="text/javascript" src="{% static 'js/social_login.js' %}"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c32c1763e65921610b0b14021a17138f&libraries=services,clusterer"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="margin: 0">
        <nav>
            <div class="nav_container" >
                <a href="/">
                    <img src="/static/img/main_logo.png">
                </a>
                <ul class="ul1">
                        <li>&nbsp;&nbsp;고객센터</li>
                        <li>&nbsp;&nbsp;이용방법</li>
                        <li>&nbsp;&nbsp;방방?</li>
                        {% if user.is_authenticated %}
                            <li>&nbsp;&nbsp;내정보</li>
                            <li><a href="{% url 'logout' %}">&nbsp;&nbsp;로그아웃</a></li>
                        {% else %}
                            <li><a href="{% url 'signup' %}">&nbsp;&nbsp;회원가입</a></li>
                            <li><a href="{% url 'login' %}">&nbsp;&nbsp;로그인</a></li>
                        {% endif %}
                    </ul>
                
                <ul class="ul2">
                    <li>&nbsp;&nbsp;방 내놓기</li>
                    <li>&nbsp;●&nbsp;</li>
                    <li>&nbsp;&nbsp;매물보기</li>
                </ul>

            </div>
        </nav>
        <div class="container">
                {% block content %}
                {% endblock %}
        </div>
        <footer>
            <div class="footer_wrap">
                <br>
                <div>Copyright Nanubang Inc. All right reserved.</div>
                <br>
                <div>상호 : 나누방 | 대표 : **8 | 사업자등록번호 : 000-00-000000</div>
                <div> 주소 : 서울특별시 노원구 공릉로 232 수연관 ***호 | 전화번호 : 02)000-0000 | 카카오톡 : 나누방</div>
                <br>
            </div>
        </footer>
    </body>
</html>