{% extends 'frame.html' %}

{% block content %}
<div class="first">
    <img src="../static/img/nanubang_backgroud.png" class="first_img">
    <div class="text_container">
        <div class="text1">
            나누방 안전계약
        </div>
        <div class="text2">
            계약서를 써본 적 없어도 손쉽게 쓸 수 있는 나누방 안전계약으로 <br>
            편리하고 안전하게 전대차거래를 해보세요.
        </div>
        <div class="text3" onclick="location.href='/search_univ'" style="cursor: pointer;">
            나누방 안전 계약 이용하기>
        </div>
    </div>
</div>

<div class="second">
    <img src="../static/img/nanuBox1.png" class="second_img">
    <div class="second_text1">
        <span style="border-bottom:1px solid #218261">전대차거래</span>는 기간이 짧은 만큼 구두계약으로 <br class="hidden">진행되는 경우가 많습니다. 
        <br class="block">하지만 구두계약의 특성상<br class="hidden"> 기록을 남기기 어렵기 때문에 금전적인 피해를 비롯한 <br class="hidden">여러 가지 문제점이 발생할 수 있습니다. 
        <br><br class="hidden">따라서 <span class="text1_span" style="font-weight:bold">금액, 기간, 책임소재가 분명한 거래를 위해선<br class="hidden"> 단기매물이라도</span> <span class="text1_span" style="color: #ed1e79; font-weight: bold;">계약서를 작성해야합니다. </span>
    </div>
    <div class="second_text2">
        * 전대차거래란? 임차인이 단기간 제 3자에게 세를 받고 집을 빌려주는 것.
    </div>
</div>

<div class="box_wrap" >
    <div class="box" id="box1">
        <div class="left">
            <img src="../static/img/box1.png">    
        </div>
        <div class="right">
            <div class="top"><span>나누방<br class="block">안전계약</span>이란?</div>
            <div class="mid">안전하고 편리한 전대차거래를<br class="hidden"> 위한  전자계약 서비스입니다.</div>
            <div class="bot">혹시 전대차 계약서를 쓰는 것이 어려우신가요?<br  class="block">그렇다면 나누방을 통해 전대차 거래에 대해 알아보고 간편하게 계약서를 작성하세요!<br  class="block">전대차 계약에 대해 전혀 모르는 분도 쉽게 작성이 가능합니다.</div>
        </div>
    </div>
</div>
<div class="box" id="box2">
    <div class="left"><img class="left_img" src="../static/img/box2_1.png"><div>번거롭게 계약서를 마련하는 대신<br>휴대폰으로 간편하게 전자계약을<br>진행할 수 있습니다.</div></div>
    <div class="center"><img src="../static/img/box2_2.png"><div>합법적인 전자계약서를 통해<br>전대차거래에서 생길 수 있는 <br>다양한 문제들을 예방할 수 있습니다.</div></div>
    <div class="right"><img class="right_img1" src="../static/img/box2_3.png"><div>잃어버리거나 훼손되기 쉬운<br>종이계약서 대신 전자파일로<br>편리하게 계약서를 보관해보세요.</div></div>
</div>
<div class="box" id="box3">
    <div class="top">
        ※ 집주인의 동의, <span>필수</span>입니다!
    </div>
    <div class="mid">
        전대차 거래는 집주인의 동의가 있어야만 안전하게 계약이 가능합니다. 아무리 단기간이라도 무단으로 이루어진다면 민법 제 629조, 630조, 631조에 따라 강제 계약해지 및 퇴실을 당할 수 있습니다.<br>
        &nbsp;<br>따라서 <span>나누방 전자계약은 집주인의 동의를 명시적으로 확인할 수 있는<br>문자메세지, 통화녹음, 사인 등을 함께 업로드하여야 서비스 이용이 가능합니다.</span>
    </div>
</div>
<div class="box" id="box4">
    <div class="left"><span>나누방<br class="block">안전계약</span><br class="block">서비스종류</div>
    <div class="center"><img class="center_img" src="../static/img/box4_1.png"><div>전대동의서를 작성하면 보다 확실하게<br>전대차계약을 보장받을 수 있습니다.</div></div>
    <div class="right"><img class="right_img2" src="../static/img/box4_2.png"></div>
    <script>
    
    </script>
</div>
<div class="box" id="box5">
    <img src="../static/img/nanuBox1.png">
    <div><span>계약 한 건당 9,900원</span><sub>(부가세포함)</sub><br>나누방 전자계약은 1건당 9,900원(부가세 포함)에 제공됩니다.<br><span>부담 없는 금액으로 안전한 전대차거래를 진행하세요.</span></div>
</div>
<div class="box" id="box6">
    <div class="left"><span>나누방<br class="block">안전계약</span><br class="block">주의사항</div>
    <div class="right"><img src="../static/img/box6_p.png" alt=""></div>
    <script>
        
    </script>
</div>

<div class="box_btn2" onclick="location.href='/search_univ'" >안전 계약 이용하기></div>

<script>
    var client_width = document.body.clientWidth;
    $('#box5').css('width',client_width);
    var marginTop = $('#box5').css('height').replace('px','')*1;
    $('#box6').css('margin-top',marginTop+100+'px');
    var get_height1 = $('.left_img').css('height').replace('px','')
        
    $('.right_img1').css('height', get_height1+'px') 
    if(client_width < 800)
    {
        $('.hidden').css('display','block')
        $('.block').css('display','none')
        $('#box6 .right img').attr("src", '../../static/img/box6_m.jpg');
    }
    else
    {
        $('.hidden').css('display','none')
        $('.block').css('display','block')
        $('#box6 .right img').attr("src", '../../static/img/box6_p.png');
    }
    $(window).resize(function()
    {
        var client_width = document.body.clientWidth;
        $('#box5').css('width',client_width);
        var marginTop = $('#box5').css('height').replace('px','')*1;
        $('#box6').css('margin-top',marginTop+100+'px');
        var get_height1 = $('.left_img').css('height').replace('px','')
        $('.right_img1').css('height', get_height1+'px') 
        if(client_width < 800)
        {
            $('.hidden').css('display','block')
            $('.block').css('display','none')
            $('#box6 .right img').attr("src", '../../static/img/box6_m.jpg');
        }
        else
        {
            $('.hidden').css('display','none')
            $('.block').css('display','block')
            $('#box6 .right img').attr("src", '../../static/img/box6_p.png');
        }
    });
</script>




{% endblock %}
