{% extends 'frame.html' %}

{% block content %}
    {% for item in get_info%}
    <div class="detail_wrap">
        <section class="room-img-mobile">
            <div class="img-slide">
                <script>
                    var photoCount = 0;
                </script>
                {% if item.pano_photo != '' %}
                <div class="img-wrap slide-mobile none" id="panorama1" style="height: 100%;overflow-x: scroll;overflow-y:hidden;white-space:nowrap;-ms-overflow-style: none;transform: rotate(180deg);">
                    <img style="height: 100%;" src="{{item.pano_photo.url}}">
                </div>
                {% else %}
                <div class="img-wrap slide-mobile none" id="panorama1" style="height: 100%;overflow-x: scroll;overflow-y:hidden;white-space:nowrap;-ms-overflow-style: none;transform: rotate(180deg);" >
                    <img style="height: 100%;" src="../static/img/none_img.png">
                </div>
                {% endif %}
                <div class="img-wrap slide-mobile">
                    <img src="{{item.photo1.url}}">
                </div>
                {% if item.photo2.url != '/media/default/img_icon_temp.png' %}
                
                <div class="img-wrap slide-mobile none">
                    <img src="{{item.photo2.url}}">
                </div>
                
                {% endif %}
                {% if item.photo3.url != '/media/default/img_icon_temp.png' %}
                <div class="img-wrap slide-mobile none">
                    <img src="{{item.photo3.url}}">
                </div>
                
                {% endif %}
                {% if item.photo4.url != '/media/default/img_icon_temp.png' %}
                <div class="img-wrap slide-mobile none">
                    <img src="{{item.photo4.url}}">
                </div>
                
                {% endif %}
                <a class="prev" style="" onclick="plusSlides(-1)"></a>
                <a class="next" style="" onclick="plusSlides(1)"></a>
                
                <span class="panorama-guide" onmouseover="guide_on(this)" >
                    <div>방의 전체적인 모습을 한 눈에 볼 수 있도록 찍은 파노라마 사진입니다. 마우스를 이용하여 사진을 움직여보세요.
                    </div>
                </span>
            </div>
        </section>
        <section class="room-info-section border-bottom">
            <h2 class="section-head blind">방 정보</h2>
            <div class="room-info-wrap">
                <div class="panorama">
                    <div id="panorama2" style="height: 100%;overflow-x: scroll;overflow-y:hidden;white-space:nowrap;-ms-overflow-style: none;transform: rotate(180deg);" onmousedown="startDrag(event, this)">
                        <img style="height: 100%;cursor:pointer; cursor:hand;position: relative;" src="{{item.pano_photo.url}}" >
                    </div>
                    <span class="panorama-guide" onmouseover="guide_on(this)" onmouseout="guide_off(this)">
                        <div>방의 전체적인 모습을 한 눈에 볼 수 있도록 찍은 파노라마 사진입니다. 마우스를 이용하여 사진을 움직여보세요.</div>
                    </span>
                </div>
                <div class="info">
                    <span class="label">월세</span>
                    <span class="cost">{{item.desired_monthly}}만원</span>
                </div>
                <div class="info">
                    <span class="label">기간</span>
                    <span class="due">{{ item.start_date | date:"Y" }}.{{ item.start_date | date:"m" }}.{{ item.start_date | date:"d" }} ~ {{ item.end_date | date:"Y" }}.{{ item.end_date | date:"m"}}.{{ item.end_date | date:"d"}}</span>
                </div>
            </div>
        </section>
        <section class="detail-info-section">
            <h2 class="section-head">상세정보</h2>
            <div class="detail-info-wrap">
               
                <div class="img-slide">
                    {% if item.photo1 != '' %}
                    <div class="img-wrap slide-pc">
                        <img src="{{item.photo1.url}}">
                    </div>
                    {% endif %}
                    {% if item.photo2.url != '/media/default/img_icon_temp.png' %}
                    <div class="img-wrap slide-pc none">
                        <img src="{{item.photo2.url}}">
                    </div>
                    {% endif %}
                    {% if item.photo3.url != '/media/default/img_icon_temp.png' %}
                    <div class="img-wrap slide-pc none">
                        <img src="{{item.photo3.url}}">
                    </div>
                    {% endif %}
                    {% if item.photo4.url != '/media/default/img_icon_temp.png' %}
                    <div class="img-wrap slide-pc none">
                        <img src="{{item.photo4.url}}">
                    </div>
                    {% endif %}
                    <a class="prev" onclick="plusSlides2(-1)"></a>
                    <a class="next" onclick="plusSlides2(1)"></a>
                </div>
                <div class="detail-info">
                    <dl>
                        <dt>종류</dt>
                        <dd>{{item.room_type}}</dd>
                        <dt>층수</dt>
                        <dd>{{item.floor}}</dd>
                        <dt>보증금</dt>
                        <dd>
                            {% if item.deposit_necessity != 'False'  %}
                                필요
                            {% else %}
                                불필요
                            {%endif%}
                        </dd>
                        <dt>관리비</dt>
                        <dd>
                            {% if item.management_cost == 0  %}
                                불필요
                            {% else %}
                                {{item.management_cost}}만원
                            {%endif%}
                                
                        </dd>
                    </dl>
                </div>

            </div>
        </section>
        <section class="option-section">
            <h2 class="section-head">구비 옵션</h2>
            <div class="option-wrap">
                {% if item.room_options != ''%}
                <div class="option" id="에어컨">
                    <img src="../static/img/icon/air_conditioner.png" alt="에어컨">
                </div>
                <div class="option" id="침대">
                    <img src="../static/img/icon/bed.png" alt="침대">
                </div>
                <div class="option" id="의자">
                    <img src="../static/img/icon/chair.png" alt="의자">
                </div>
                <div class="option" id="책상">
                    <img src="../static/img/icon/desk.png" alt="책상">
                </div>
                <div class="option" id="가스레인지">
                    <img src="../static/img/icon/gas.png" alt="가스레인지">
                </div>
                <div class="option" id="세탁기">
                    <img src="../static/img/icon/washer.png" alt="세탁기">
                </div>
                <div class="option" id="인덕션">
                    <img src="../static/img/icon/induction.png" alt="인덕션">
                </div>
                <div class="option" id="냉장고">
                    <img src="../static/img/icon/refrigerator.png" alt="냉장고">
                </div>
                <div class="option" id="전자레인지">
                    <img src="../static/img/icon/microwave.png" alt="전자레인지">
                </div>
                <div class="option" id="TV">
                    <img src="../static/img/icon/tv.png" alt="TV">
                </div>
                <div class="option" id="WI-FI">
                    <img src="../static/img/icon/wifi.png" alt="WI-FI">
                </div>
                <div class="option" id="베란다">
                    <img src="../static/img/icon/veranda.png" alt="베란다">
                </div>
                <div class="option" id="옷장">
                    <img src="../static/img/icon/closet.png" alt="옷장">
                </div>
                <div class="option" id="신발장">
                    <img src="../static/img/icon/shoe.png" alt="신발장">
                </div>
                <div class="option" id="도어락">
                    <img src="../static/img/icon/doorlock.png" alt="도어락">
                </div>
                <script>
                    var options = "{{item.room_options}}";
                    var splitStr = options.split(',');
                    for(var i=0; i<splitStr.length; i++)
                        $("#"+splitStr[i]).css("display","inline-block");
                </script>
                {% endif %}
            </div>
            <div class="preference">
                <dl>
                    <dt>방 판매자</dt>
                    <dd>{{item.author.ciga}}/{{item.author.gender}}</dd>
                    <dt>선호하는 방 구매자</dt>
                    <dd>{{item.sublessee_type1}} / {{item.sublessee_type2}}</dd>
                </dl>
            </div>
        </section>
        <section class="location-section border-bottom">
            <h2 class="section-head">방 위치
                <span class="guide" onmouseover="guide_on(this)" onmouseout="guide_off(this)">
                    <div class="location-guide">
                        전대차거래 특성상 현재 살고 있는 세입자의 정보가 노출되는 위험이 있으므로 나누방은 반경 30m의 원으로 위치를 표시합니다.
                    </div>
                </span>
            </h2>
            <div class="location">
                <span class="address">{{item.address}}</span>
                <span class="location-tag">{{item.tag}}</span>
            </div>
            <div class="map-wrap">
                <div style="height: 100%" id="map"></div>
            </div>
            <div class="tag-wrap" id="tag-wrap">
                <div class="facility-tag" id="BK9" data-order="0"># 은행</div>
                <div class="facility-tag"  id="CS2" data-order="1"># 편의점</div>
                <div class="facility-tag" id="PM9" data-order="2"># 의료시설</div>
                <div class="facility-tag" id="CE7"  data-order="3"># 카페</div>
            </div>
        </section>
        <section class="detail-section border-bottom">
            <h2 class="section-head">방 상세설명</h2>
            <div class="detail-description ellipsis">
            {% if item.room_desc == None %}
                기입사항 없음
            {% else %}
                {{item.room_desc}}
            {% endif %} 
            </div>
            <button type="button" class="more want-open" onclick="fold1()">더보기</button>
        </section>
        <section class="additional-section">
            <h2 class="section-head">
                <button type="button" class="more-info want-open" onclick="fold2()">방 추가정보 보기</button>
            </h2>
            <div class="folded">
                <div class="table">
                    <div class="tr">
                        <div class="th">복층여부</div>
                        <div class="td">
                        {% if item.is_duplex == '' %}
                            기입사항 없음
                        {% else %}
                            {% if item.is_duplex == False %}
                                X
                            {% else %}
                                O
                            {% endif %} 
                        {% endif %}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">창문개수</div>
                        <div class="td">
                            {% if item.window == None %}
                                기입사항 없음
                            {% else %}
                                {{item.window}} 개
                            {% endif %}</div>
                    </div>
                    <div class="tr">
                        <div class="th">면적</div>
                        <div class="td">
                            {% if item.room_size == None %}
                                기입사항 없음
                            {% else %}
                                {{item.room_size}} m<sup>2</sup>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="deal-section">
            <h2 class="section-head blind">거래</h2>
            <div>
                <div class="deal-wrap">
                    <div class="deal">
                        <span>방에 대한 정보를 꼼꼼히 확인 후 방 판매자와 대화하고 싶다면 아래의 '거래하기'를 눌러주세요!</span>
                        <button type="button" class="deal-btn" onclick="deal()"><span class="blind">거래하기</span></button>
                    </div>
                    <div class="now-see">현재 {{like}}명이 좋아요한 매물입니다.</div>
                </div>
                <div class="sell-wrap folded">
                    <div class="seller">
                        <div class="seller-info">판매자 정보</div>
                        <div class="seller-contact">{{item.sublessor_type1}} : {{item.sublessor_type2}}</div>
                    </div>

                    <div class="safety-deal">
                        <div>나누방으로 <strong>안전하게</strong><br> 거래하고 싶다면?</div>
                        <form action="/contract_desc" method="get" id="detail_form">
                            <input type="hidden" value="{{item.auto_increment_id}}" readonly name="item_id">
                            <button type="button" class="safety-deal-btn" id="deal-btn">나누방 안전거래 이용하기 <img src="../static/img/icon/safety-deal-btn.png" alt=""></button>
                            <input type="submit" id="submit_btn" style="display: none;">
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slide-mobile");
            var panorama = document.getElementsByClassName("panorama-guide")[0];
            
            
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";

            if ($('#panorama').css('display') === 'block' ) {
                panorama.style.display = "block";
            }
            else {
                panorama.style.display = "none";
            }
        }
    </script>

    <script>
        var slideIndex2 = 1;
        showSlides2(slideIndex2);
        
        function plusSlides2(n) {
            showSlides2(slideIndex2 += n);
        }

        function currentSlide2(n) {
            showSlides2(slideIndex2 = n);
        }

        function showSlides2(n) {
            var i;
            var slides = document.getElementsByClassName("slide-pc");
            if (n > slides.length) {
                slideIndex2 = 1;
            }
            if (n < 1) {
                slideIndex2 = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex2 - 1].style.display = "block";
        }
    </script>

    <script>
        function guide_on(guide) {
            guide.firstElementChild.style.display = 'block';
        }

        function guide_off(guide) {
            guide.firstElementChild.style.display = 'none';
        }
    </script>

    <script>
        function fold1() {
            var more = document.getElementsByClassName("more")[0];
            var more_pre = more.previousElementSibling;
            if (more.classList.contains('want-open')) {
                more.classList.remove('want-open');
                more.classList.add('want-close');
                more_pre.classList.remove('ellipsis');
            } else {
                more.classList.remove('want-close');
                more.classList.add('want-open');
                more_pre.classList.add('ellipsis');
            }
        }
    </script>
    <script>
        function fold2() {
            var table_div = document.getElementsByClassName("table")[0].parentElement;
            var img = table_div.previousElementSibling.firstElementChild;
            if (table_div.classList.contains('folded')) {
                table_div.classList.remove('folded');
                img.classList.remove('want-open');
                img.classList.add('want-close');
            } else {
                table_div.classList.add('folded');
                img.classList.remove('want-close');
                img.classList.add('want-open');
            }
        }
        $("#deal-btn").click(function(){
            var authenticated = '{{ user.is_authenticated }}';
            if(authenticated == 'True')
            {
                $.ajax({ 
                    type: "GET", // 데이터를 전송하는 방법을 지정
                    url: "{% url 'check' %}", // 통신할 url을 지정
                    data: "", // 서버로 데이터 전송시 옵션
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
                    
                    success: function(response){ 
                        if(response.message == 'True')
                            document.getElementById('submit_btn').click();
                        else
                            $(".alert_authenticate_container").fadeIn();
                    },
                    error: function(request, status, error){ // 통신 실패시 
                        
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                });
            }
            else
            {
                alert('이 기능을 이용하려면 로그인을 먼저 하세요')
            }
        });
    </script>

    <script type='text/javascript'>
        //처음 이미지가 생성될곳을 지정해 줍니다
        var img_L = 10;
        var img_T = 20;
        var targetObj;

        function getLeft(o){
            return parseInt(o.style.left.replace('px', ''));
        }
        function getTop(o){
            return parseInt(o.style.top.replace('px', ''));
        }

        // 이미지를 움직이는 함수입니다 움직였던 위치만큼 처음 이미지가 있던 좌표를 더해줍니다 최종 위치입니다
        function moveDrag(e){
            var e_obj = window.event? window.event : e;
            var dmvx = parseInt(e_obj.clientX - img_L);
            var _scrollX = $('#panorama2').scrollLeft();
            $('#panorama2').scrollLeft(_scrollX+dmvx);
            img_L = e_obj.clientX;
            
            return false;
        /*setInterval(function(){
            var _scrollX = $('#panorama2').scrollLeft();
            
        }, 100);*/
        }


        // 드래그를 시작하는 함수 입니다. 움직였던 좌표에서 처음 드래그를 시작했던 좌표를 빼줍니다. 움직인 좌표를 나타내줍니다
        function startDrag(e, obj){
            
            targetObj = obj;
            var e_obj = window.event? window.event : e;
            img_L =e_obj.clientX;
            document.onmousemove = moveDrag;
            document.onmouseup = stopDrag;
            if(e_obj.preventDefault)e_obj.preventDefault();
        }

        // 드래그를 멈추는 함수 입니다
        function stopDrag(){
            document.onmousemove = null;
            document.onmouseup = null;
        }
    </script>
    <script>
        function deal() {
            var state = "{{item.state}}"
            var owner = "{{item.author}}"
            var connector = "{{request.user.connector}}"
            
            if(state === 1)
            {
                alert('현재 다른 고객과 거래가 진행중인 방입니다.')
                $('.safety-deal').html('')
            }
            else if(connector != 'None')
            {
                alert('현재 회원님은 거래가 진행중인 방이 있습니다.')
                $('.safety-deal').html('')
            }
            else if(owner === "{{request.user}}"){
                $('.safety-deal').html('')
            }
            
            var deal = document.getElementsByClassName("deal-wrap")[0];
            var sell = document.getElementsByClassName("sell-wrap")[0];
            if (sell.classList.contains('folded')) {
                sell.classList.remove('folded');
                deal.classList.add('folded');
            } else {
                sell.classList.add('folded');
                deal.classList.remove('folded');
            }
            
        }

        var placeOverlay = new kakao.maps.CustomOverlay({zIndex:1}), 
            contentNode = document.createElement('div'), // 커스텀 오버레이의 컨텐츠 엘리먼트 입니다 
            markers = [], // 마커를 담을 배열입니다
            currCategory = ''; // 현재 선택된 카테고리를 가지고 있을 변수입니다
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng("{{item.latitude}}", "{{item.longitude}}"), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 

        var markerPosition  = new kakao.maps.LatLng("{{item.latitude}}", "{{item.longitude}}"); 

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map)
        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places(map); 

        // 지도에 idle 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'idle', searchPlaces);

        // 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다 
        contentNode.className = 'placeinfo_wrap';

        // 커스텀 오버레이의 컨텐츠 노드에 mousedown, touchstart 이벤트가 발생했을때
        // 지도 객체에 이벤트가 전달되지 않도록 이벤트 핸들러로 kakao.maps.event.preventMap 메소드를 등록합니다 
        addEventHandle(contentNode, 'mousedown', kakao.maps.event.preventMap);
        addEventHandle(contentNode, 'touchstart', kakao.maps.event.preventMap);

        // 커스텀 오버레이 컨텐츠를 설정합니다
        placeOverlay.setContent(contentNode);  

        // 각 카테고리에 클릭 이벤트를 등록합니다
        addCategoryClickEvent();

        // 엘리먼트에 이벤트 핸들러를 등록하는 함수입니다
        function addEventHandle(target, type, callback) {
            if (target.addEventListener) {
                target.addEventListener(type, callback);
            } else {
                target.attachEvent('on' + type, callback);
            }
        }

        // 카테고리 검색을 요청하는 함수입니다
        function searchPlaces() {
            if (!currCategory) {
                return;
            }
            
            // 커스텀 오버레이를 숨깁니다 
            placeOverlay.setMap(null);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();
            
            ps.categorySearch(currCategory, placesSearchCB, {useMapBounds:true}); 
        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 정상적으로 검색이 완료됐으면 지도에 마커를 표출합니다
                displayPlaces(data);
            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
                // 검색결과가 없는경우 해야할 처리가 있다면 이곳에 작성해 주세요

            } else if (status === kakao.maps.services.Status.ERROR) {
                // 에러로 인해 검색결과가 나오지 않은 경우 해야할 처리가 있다면 이곳에 작성해 주세요
                
            }
        }

        // 지도에 마커를 표출하는 함수입니다
        function displayPlaces(places) {

            // 몇번째 카테고리가 선택되어 있는지 얻어옵니다
            // 이 순서는 스프라이트 이미지에서의 위치를 계산하는데 사용됩니다
            var order = document.getElementById(currCategory).getAttribute('data-order');

            

            for ( var i=0; i<places.length; i++ ) {

                    // 마커를 생성하고 지도에 표시합니다
                    var marker = addMarker(new kakao.maps.LatLng(places[i].y, places[i].x), order);

                    // 마커와 검색결과 항목을 클릭 했을 때
                    // 장소정보를 표출하도록 클릭 이벤트를 등록합니다
                    (function(marker, place) {
                        kakao.maps.event.addListener(marker, 'click', function() {
                            displayPlaceInfo(place);
                        });
                    })(marker, places[i]);
            }
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker(position, order) {
            var imageSrc = '../static/img/pick_img.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(40, 40),  // 마커 이미지의 크기
                imgOptions =  {
                    spriteSize : new kakao.maps.Size(80, 180), // 스프라이트 이미지의 크기
                    spriteOrigin : new kakao.maps.Point(46, (order*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(14, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage 
                });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }   
            markers = [];
        }

        // 클릭한 마커에 대한 장소 상세정보를 커스텀 오버레이로 표시하는 함수입니다
        function displayPlaceInfo (place) {
            var content = '<div class="placeinfo">' +
                            '   <a class="title" href="' + place.place_url + '" target="_blank" title="' + place.place_name + '">' + place.place_name + '</a>';   

            if (place.road_address_name) {
                content += '    <span title="' + place.road_address_name + '">' + place.road_address_name + '</span>' +
                            '  <span class="jibun" title="' + place.address_name + '">(지번 : ' + place.address_name + ')</span>';
            }  else {
                content += '    <span title="' + place.address_name + '">' + place.address_name + '</span>';
            }                
        
            content += '    <span class="tel">' + place.phone + '</span>' + 
                        '</div>' + 
                        '<div class="after"></div>';

            contentNode.innerHTML = content;
            placeOverlay.setPosition(new kakao.maps.LatLng(place.y, place.x));
            placeOverlay.setMap(map);  
        }


        // 각 카테고리에 클릭 이벤트를 등록합니다
        function addCategoryClickEvent() {
            var category = document.getElementById('tag-wrap'),
                children = category.children;

            for (var i=0; i<children.length; i++) {
                children[i].onclick = onClickCategory;
            }
        }

        // 카테고리를 클릭했을 때 호출되는 함수입니다
        function onClickCategory() {
            var id = this.id,
                className = this.className;

            placeOverlay.setMap(null);

            if (className === 'on') {
                currCategory = '';
                changeCategoryClass();
                removeMarker();
            } else {
                currCategory = id;
                changeCategoryClass(this);
                searchPlaces();
            }
        }

        // 클릭된 카테고리에만 클릭된 스타일을 적용하는 함수입니다
        function changeCategoryClass(el) {
            var category = document.getElementById('tag-wrap'),
                children = category.children,
                i;

            for ( i=0; i<children.length; i++ ) {
                children[i].className = '';
            }

            if (el) {
                el.className = 'on';
            } 
        } 
    </script>
    {% endfor %}
{% endblock %}
